@root {
	font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
	'Arial', sans-serif;
	//background-color: lightblue;
}
body {
	font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
	'Arial', sans-serif;
	padding: 20px 20px 60px;
	max-width: 60vw;
	margin: 0 auto;
	background: hsl(227, 10%, 10%);
	color: #fff;
}
.container {
	//background-color: blue;

}
header {
	//background-color: pink;
	text-align: center;
	h1 {
		font-size: 75px;
		letter-spacing: 1px;

	}

}

nav {
		justify-content: center;
		align-content: center;
		align-items: center;
		text-align: center;
		//min-height: 100vh;
		display: flex;

}
.contents {
	padding-top: 100vh; 

}
.inner {
	background: hsl(227, 10%, 10%, 90%);
	padding: 24px 24px
}




	// Make a map with the class names and matching colors
	/*
	$colors: (
		fill: lightblue,
		pulse: #ef6eae, 
		close: #ff7f82, 
		raise: #ffa260, 
		up: #e4cb58, 
		slide: #8fc866, 
		offset: #19bc8b
	);

	*/

	// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
	button {  
		color: #8fc866;
		background-color: hsl(227, 10%, 10%);
		transition: 0.25s;
		border-radius: 3px;

		&:hover,
		&:focus { 
			border-color: #19bc8b;
			color: #fff;
		}
	}


	// Basic button styles
	button {
		border: 2px solid;
		font: inherit;
		line-height: 1;
		margin: 0.5em;
		padding: 1em 2em;
	}

	h1 { font-weight: 400; }

	code { 
		color: #e4cb58;
		font: inherit;
	}
